table{
    border: 1px solid black;
    margin: auto;
}
td{
    width: 25%;
}
.symbol{
padding-right: 70px;
font-size: 50px;
}
.number{
    position: relative;
    top: -20px;
    font-size: 20px;
}
.name-lat{
    text-underline-position: left;
    font-size: 20px;
}
.atomic-mass{
    display: inline-block;
    float: right;
    position: relative;

}
.Li,.Be,.Na,.Mg,.K,.Ca{
    background-color: lightcoral;
}
.B,.C,.Al,.Si,.Ga,.Ge{
    background-color: yellow;
}
.Se,.Ti,.Cu,.Zn{
    background-color: aquamarine;
}
.B{

}